.App {
  text-align: left;
  background-color: aqua;
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-flat {
      background-color: purple;
      color: white;
    }
